.name-form{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 40%;
}
.choices{
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center; 
}
.story-section{
  margin: 10%;
}
.greeting{
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 5%;
}
a:hover{
  cursor: pointer;
}
.Endings{
  margin: 5%;
}